# System Files
.DS_Store
Thumbs.db

# Dependencies
node_modules/
package-lock.json

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build
dist/
build/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea/
.vscode/
*.swp
*.ntvs*
*.njsproj
*.sln
*.sw?

# Firebase Service Account (Backend)
src/config/service-account.json
